<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.next.dao.TrainTravellerMapper">
  <resultMap id="BaseResultMap" type="com.next.model.TrainTraveller">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="adult_flag" jdbcType="TINYINT" property="adultFlag" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="id_type" jdbcType="SMALLINT" property="idType" />
    <result column="id_number" jdbcType="VARCHAR" property="idNumber" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, adult_flag, sex, id_type, id_number, contact, address, email
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from train_traveller
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from train_traveller
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.next.model.TrainTraveller">
    insert into train_traveller (id, name, adult_flag, 
      sex, id_type, id_number, 
      contact, address, email
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{adultFlag,jdbcType=TINYINT}, 
      #{sex,jdbcType=TINYINT}, #{idType,jdbcType=SMALLINT}, #{idNumber,jdbcType=VARCHAR}, 
      #{contact,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.next.model.TrainTraveller">
    insert into train_traveller
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="adultFlag != null">
        adult_flag,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="idType != null">
        id_type,
      </if>
      <if test="idNumber != null">
        id_number,
      </if>
      <if test="contact != null">
        contact,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="email != null">
        email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="adultFlag != null">
        #{adultFlag,jdbcType=TINYINT},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="idType != null">
        #{idType,jdbcType=SMALLINT},
      </if>
      <if test="idNumber != null">
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.next.model.TrainTraveller">
    update train_traveller
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="adultFlag != null">
        adult_flag = #{adultFlag,jdbcType=TINYINT},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=TINYINT},
      </if>
      <if test="idType != null">
        id_type = #{idType,jdbcType=SMALLINT},
      </if>
      <if test="idNumber != null">
        id_number = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.next.model.TrainTraveller">
    update train_traveller
    set name = #{name,jdbcType=VARCHAR},
      adult_flag = #{adultFlag,jdbcType=TINYINT},
      sex = #{sex,jdbcType=TINYINT},
      id_type = #{idType,jdbcType=SMALLINT},
      id_number = #{idNumber,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.next.model.TrainTraveller">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="adult_flag" jdbcType="TINYINT" property="adultFlag" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="id_type" jdbcType="SMALLINT" property="idType" />
    <result column="id_number" jdbcType="VARCHAR" property="idNumber" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, adult_flag, sex, id_type, id_number, contact, address, email
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from train_traveller
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from train_traveller
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.next.model.TrainTraveller">
    insert into train_traveller (id, name, adult_flag, 
      sex, id_type, id_number, 
      contact, address, email
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{adultFlag,jdbcType=TINYINT}, 
      #{sex,jdbcType=TINYINT}, #{idType,jdbcType=SMALLINT}, #{idNumber,jdbcType=VARCHAR}, 
      #{contact,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.next.model.TrainTraveller">
    insert into train_traveller
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="adultFlag != null">
        adult_flag,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="idType != null">
        id_type,
      </if>
      <if test="idNumber != null">
        id_number,
      </if>
      <if test="contact != null">
        contact,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="email != null">
        email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="adultFlag != null">
        #{adultFlag,jdbcType=TINYINT},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="idType != null">
        #{idType,jdbcType=SMALLINT},
      </if>
      <if test="idNumber != null">
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.next.model.TrainTraveller">
    update train_traveller
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="adultFlag != null">
        adult_flag = #{adultFlag,jdbcType=TINYINT},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=TINYINT},
      </if>
      <if test="idType != null">
        id_type = #{idType,jdbcType=SMALLINT},
      </if>
      <if test="idNumber != null">
        id_number = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.next.model.TrainTraveller">
    update train_traveller
    set name = #{name,jdbcType=VARCHAR},
      adult_flag = #{adultFlag,jdbcType=TINYINT},
      sex = #{sex,jdbcType=TINYINT},
      id_type = #{idType,jdbcType=SMALLINT},
      id_number = #{idNumber,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.next.model.TrainTraveller">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="adult_flag" jdbcType="TINYINT" property="adultFlag" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="id_type" jdbcType="SMALLINT" property="idType" />
    <result column="id_number" jdbcType="VARCHAR" property="idNumber" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, adult_flag, sex, id_type, id_number, contact, address, email
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from train_traveller
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from train_traveller
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.next.model.TrainTraveller">
    insert into train_traveller (id, name, adult_flag, 
      sex, id_type, id_number, 
      contact, address, email
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{adultFlag,jdbcType=TINYINT}, 
      #{sex,jdbcType=TINYINT}, #{idType,jdbcType=SMALLINT}, #{idNumber,jdbcType=VARCHAR}, 
      #{contact,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.next.model.TrainTraveller">
    insert into train_traveller
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="adultFlag != null">
        adult_flag,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="idType != null">
        id_type,
      </if>
      <if test="idNumber != null">
        id_number,
      </if>
      <if test="contact != null">
        contact,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="email != null">
        email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="adultFlag != null">
        #{adultFlag,jdbcType=TINYINT},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="idType != null">
        #{idType,jdbcType=SMALLINT},
      </if>
      <if test="idNumber != null">
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.next.model.TrainTraveller">
    update train_traveller
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="adultFlag != null">
        adult_flag = #{adultFlag,jdbcType=TINYINT},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=TINYINT},
      </if>
      <if test="idType != null">
        id_type = #{idType,jdbcType=SMALLINT},
      </if>
      <if test="idNumber != null">
        id_number = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.next.model.TrainTraveller">
    update train_traveller
    set name = #{name,jdbcType=VARCHAR},
      adult_flag = #{adultFlag,jdbcType=TINYINT},
      sex = #{sex,jdbcType=TINYINT},
      id_type = #{idType,jdbcType=SMALLINT},
      id_number = #{idNumber,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.next.model.TrainTraveller">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="adult_flag" jdbcType="TINYINT" property="adultFlag" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="id_type" jdbcType="SMALLINT" property="idType" />
    <result column="id_number" jdbcType="VARCHAR" property="idNumber" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, adult_flag, sex, id_type, id_number, contact, address, email
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from train_traveller
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from train_traveller
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.next.model.TrainTraveller">
    insert into train_traveller (id, name, adult_flag, 
      sex, id_type, id_number, 
      contact, address, email
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{adultFlag,jdbcType=TINYINT}, 
      #{sex,jdbcType=TINYINT}, #{idType,jdbcType=SMALLINT}, #{idNumber,jdbcType=VARCHAR}, 
      #{contact,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.next.model.TrainTraveller">
    insert into train_traveller
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="adultFlag != null">
        adult_flag,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="idType != null">
        id_type,
      </if>
      <if test="idNumber != null">
        id_number,
      </if>
      <if test="contact != null">
        contact,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="email != null">
        email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="adultFlag != null">
        #{adultFlag,jdbcType=TINYINT},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="idType != null">
        #{idType,jdbcType=SMALLINT},
      </if>
      <if test="idNumber != null">
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.next.model.TrainTraveller">
    update train_traveller
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="adultFlag != null">
        adult_flag = #{adultFlag,jdbcType=TINYINT},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=TINYINT},
      </if>
      <if test="idType != null">
        id_type = #{idType,jdbcType=SMALLINT},
      </if>
      <if test="idNumber != null">
        id_number = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.next.model.TrainTraveller">
    update train_traveller
    set name = #{name,jdbcType=VARCHAR},
      adult_flag = #{adultFlag,jdbcType=TINYINT},
      sex = #{sex,jdbcType=TINYINT},
      id_type = #{idType,jdbcType=SMALLINT},
      id_number = #{idNumber,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.next.model.TrainTraveller">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="adult_flag" jdbcType="TINYINT" property="adultFlag" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="id_type" jdbcType="SMALLINT" property="idType" />
    <result column="id_number" jdbcType="VARCHAR" property="idNumber" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, adult_flag, sex, id_type, id_number, contact, address, email
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from train_traveller
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from train_traveller
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.next.model.TrainTraveller">
    insert into train_traveller (id, name, adult_flag, 
      sex, id_type, id_number, 
      contact, address, email
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{adultFlag,jdbcType=TINYINT}, 
      #{sex,jdbcType=TINYINT}, #{idType,jdbcType=SMALLINT}, #{idNumber,jdbcType=VARCHAR}, 
      #{contact,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.next.model.TrainTraveller">
    insert into train_traveller
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="adultFlag != null">
        adult_flag,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="idType != null">
        id_type,
      </if>
      <if test="idNumber != null">
        id_number,
      </if>
      <if test="contact != null">
        contact,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="email != null">
        email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="adultFlag != null">
        #{adultFlag,jdbcType=TINYINT},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="idType != null">
        #{idType,jdbcType=SMALLINT},
      </if>
      <if test="idNumber != null">
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.next.model.TrainTraveller">
    update train_traveller
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="adultFlag != null">
        adult_flag = #{adultFlag,jdbcType=TINYINT},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=TINYINT},
      </if>
      <if test="idType != null">
        id_type = #{idType,jdbcType=SMALLINT},
      </if>
      <if test="idNumber != null">
        id_number = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.next.model.TrainTraveller">
    update train_traveller
    set name = #{name,jdbcType=VARCHAR},
      adult_flag = #{adultFlag,jdbcType=TINYINT},
      sex = #{sex,jdbcType=TINYINT},
      id_type = #{idType,jdbcType=SMALLINT},
      id_number = #{idNumber,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>